{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

<div>
    <h1>Profil</h1>
    <p>{{ recruiterProfile.companyName }}</p>
    <p>{{ recruiterProfile.companyAddress }}</p>
    <a href="/recruiter/profile/edit"><button>Modifier</button></a>
</div>
{% endblock %}
