{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

    <div class="container-fluid col-lg-8">
        <h1 class="m-5 text-center">Profil</h1>
        <div class="text-center">
            <p>Mon entreprise : {{ recruiterProfile.companyName }}</p>
            <p>Adresse de mon entreprise : {{ recruiterProfile.companyAddress }}</p>
            <a href="{{ path('recruiter_profile_edit') }}" class="btn btn-primary text-center mt-4">Modifier
            </a>
        </div>
    </div>
{% endblock %}
