{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

    <div>
        {{ form_start(editForm) }}

        {{ form_widget(editForm) }}

        {{ form_end(editForm) }}
    </div>
{% endblock %}