{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

<div>
    <h1>Profil</h1>
    <p>{{ candidateProfile.lastName }}</p>
    <p>{{ candidateProfile.firstName }}</p>
    <a href="{{ asset('uploads/resumes/' ~ candidateProfile.resume) }}">Voir mon CV</a>
    <a href="/candidate/profile/edit"><button>Modifier</button></a>
</div>
{% endblock %}
